.window-borderpane {
    -fx-background-color: #BCC7D3;
}


.menu-btn {
    -fx-background-color: #ffffff;
    -fx-margin: 2000 0 0 55;
}

.menu-btn-text {
    -fx-padding: 20 0 0 20;
}

.act-btn {
    -fx-background-color: #FFB312;
}

.act-btn-text {
    -fx-color: white;
    -fx-padding: 20 0 0 20;
}
